<section
id="widget-<%= locals.id %>"
class="widget divider divider--<%= locals.layout %>"
data-id="<%= locals.id %>"
data-widgettype="<%= locals.type %>"
data-layout="<%= locals.layout %>"
>

	<div class="divider__container">

		<div class="divider__content"></div>

	</div>

</section>
